<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link href="~/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
<header>
    <div class="container">
        @*<div class="logo">
                    <a href="#"><img src="img/2.jpg" alt="" /></a>
                </div>*@
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="../Department/Save">Save Department</a></li>
                    <li><a href="../ViewAllDepartment/ViewAll">View Department</a></li>
                    <li><a href="../Cource/Save">Save Cource</a></li>
                    <li><a href="../Teacher/Save">Save Teacher</a></li>
                    <li><a href="../CourceAssign/Save">Assign Cource</a></li>
                    <li><a href="../">Cource Statistics</a></li>
                    <li><a href="../">Register Cource</a></li>
                    <li><a href="../">Allocate ClassRooms </a></li>
                    <li><a href="../">Class Scedule</a></li>
                    <li><a href="../Enroll/Save">Enroll Cource</a></li>
                    <li><a href="../Result/Save">Save Results</a></li>
                    <li><a href="../">View Result</a></li>
                    <li><a href="../">Unassign Cources</a></li>
                    <li><a href="../">Unallocate Rooms</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
    <div align="center">
        <h1>University Management System</h1>
        <h2>BITM Project in DOT NET by:</h2>
        <ul>
            <li>Tarequl Islam</li>
            <li>Md Mehedi Hasan</li>
            <li>Arpan Gupta</li>
            <li>Imran Mahmud</li>
        </ul>
    </div>

</body>
</html>